<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <script src="/resource/jquery/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <div class="container">
            <form action="/requestlogin" id="login-form">
                <label for="account">帳號</label>
                <input type="text" id="account" name="account"><br/>
                                
                <label for="password">密碼</label>
                <input type="password" id="password" name="password"><br/>
                <input type="submit">
            </form>
        </div>
        <script src="/public/javascript/login/login.js"></script>
    </body>
</html>