<!DOCTYPE html>
<html>
    <head>
        <title>Upload</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/public/css/upload/upload.css">
        <script src="/resource/jquery/jquery-3.2.1.min.js"></script>
    <!--
        <meta name="keywords" content="???" />
        <meta name="description" content="???" />
        <meta property="og:title" content="???" />
        <meta property="og:url" content="???" />
    -->
    </head>
    <body>
        <div class="container">
            <div class="top">
                
            </div>
            <!-- top end -->

            <div class="main">
                
                <div class="left">
                
                </div>
                <!-- left end -->

                <div class="center">
                    <div class="upload">
                        <form action="/upload-record" method="post" class="upload-form" id="upload-form">
                            
                            <div class="input-box">
                                
                                <div class="choose-media-box">

                                    <label for="name">學名</label>
                                    <input type="text" id="organismname" name="organismname"><br/>

                                    <!--
                                    <label for="kingdom">界</label>
                                    <input type="text" id="kingdom" name="kingdom">

                                    <label for="phylum">門</label>
                                    <input type="text" id="phylum" name="phylum">

                                    <label for="class">綱</label>
                                    <input type="text" id="class" name="class">

                                    <label for="order">目</label>
                                    <input type="text" id="order" name="order">

                                    <label for="family">科</label>
                                    <input type="text" id="family" name="family">
                                    
                                    <label for="genus">屬</label>
                                    <input type="text" id="genus" name="genus">

                                    <label for="species">種</label>
                                    <input type="text" id="species" name="species">
                                    -->
                                    
                                    <!--
                                    <label for="isanimal">打勾的話 代表是植物 非動物 沒勾默認是動物</label>
                                    <input type="checkbox" name="isplant" value="true">
                                    -->
                                    
                                    <label for="categorytagchinese">中文類別標籤</label>
                                    <input type="text" id="categorytagchinese" name="categorytagchinese"><br/>
                                    
                                    <label for="categorytagenglish">英文類別標籤</label>
                                    <input type="text" id="categorytagenglish" name="categorytagenglish"><br/>
                                    
                                    
                                    <!-- 英文版有空再說 -->
                                    界：<br/>
                                    <select name="kingdom">
                                      <option value="動物界">動物界</option>
                                      <option value="植物界">植物界</option>
                                      <option value="外星生物">外星生物</option>
                                    </select><br/>
                                    
                                    門：<br/>
                                    <select name="phylum">
                                        <option value="脊索動物門">脊索動物門</option>
                                        <option value="節肢動物門">節肢動物門</option>
                                        <option value="反正不是動物">反正不是動物</option>
                                    </select><br/>
                                    
                                    綱：<br/>
                                    <select name="class">
                                        <option value="兩棲綱">兩棲綱</option>
                                        <option value="昆蟲綱"></option>
                                        <option value="反正不是動物">反正不是動物</option>
                                    </select><br/>
                                    
                                    目：<br/>
                                    <select name="order">
                                        <option value="無尾目">無尾目</option>
                                        <option value="鱗翅目">鱗翅目</option>
                                        <option value="反正不是動物">反正不是動物</option>
                                    </select><br/>
                                    
                                    科：<br/>
                                    <select name="family">
                                        <option value="叉舌蛙科">叉舌蛙科</option>
                                        <option value="彩蛙科">彩蛙科</option>
                                        <option value="樹蛙科">樹蛙科</option>
                                        <option value="樹蟾科">樹蟾科</option>
                                        <option value="狹口蛙科">狹口蛙科</option>
                                        <option value="盤舌蟾科">盤舌蟾科</option>
                                        <option value="細趾蟾科">細趾蟾科</option>
                                        <option value="蟾蜍科">蟾蜍科</option>
                                        <option value="赤蛙科">赤蛙科</option>
                                    </select><br/>
                                    
                                    屬：<br/>
                                    <select name="genus">

                                    </select><br/>
                                    
                                    種：<br/>
                                    <select name="species">

                                    </select><br/>                                    
                                    
                                    年齡狀態：<br/>
                                    <select name="stage">
                                        <option value="幼年">幼年</option>
                                        <option value="中年">中年</option>
                                        <option value="老年">老年</option>
                                    </select><br/>
                                    
                                    年齡狀態：<br/>
                                    <select name="stage">
                                        <option value="幼年">幼年</option>
                                        <option value="中年">中年</option>
                                        <option value="老年">老年</option>
                                    </select><br/>
                                    
                                    season 出沒季節：？？？ 這個是根據幾號到幾號 還是 春夏秋冬 春夏 夏秋 秋冬 ......<br/>
                                    
                                    <label for="recorddate">發現該生物的日期 沒有的話 以照片的exif為準 沒照片或沒exif就留空</label>
                                    <input type="date" id="recorddate" name="recorddate"><br/>
                                    
                                    性狀簡述<br/>
                                    <textarea name="note"></textarea><br/>
                                    
                                    棲地<br/>
                                    <textarea name="habitat"></textarea><br/>
                                    
                                    <label class="upload-label" id="choose-photo" for="photos">
                                        <img src="/resource/ionicons/ionicons-2.0.1/src/images.svg">
                                        <input type="file"  class="none-display" id="photos" name="photos"  accept=".jpg, .jpeg, .png" multiple="multiple">
                                        <!-- need add onchange previewImage event-->
                                    </label>
                                    
                                </div>
                                
                                <div class="submit-box">
                                    <button type="submit" class="gogogo" id="gogogo" name="gogogo">Submit</button>
                                </div>
                                
                            </div>
                            
                            <div id="preview-photo-div"></div>

                        </form>
                    </div>
                    <!-- upload end -->
                </div>
                <!-- center end -->

                <div class="right">
                
                </div>
                <!-- right end -->
                
            </div>
            <!-- main end -->

        </div>
        <!-- container end -->
        
        <script src="/public/javascript/upload/upload.js"></script>
        
    </body>
</html>